<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
<!--        <title>Show Question</title>-->
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/question/list" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> 试题列表</a>
                </h3>
                <h2 th:text="${question.topic}"></h2>
                <h2 th:if="${question.pic}"><img th:src="${'/upload/' + question.pic}" width="200" /></h2>
                <dl class="list">
                    <div th:each="option : ${question.options}">
                        <label th:text="${option.no + '. ' + option.name}"></label>
                    </div>
                </dl>
                <dt th:text="${'答案：' + question.answer}"></dt>
                <dt th:if="${question.analysis}" th:text="${'试题解析：' + question.analysis}"></dt>

                <form action="/question/delete">
                    <input type="hidden" name="id" th:value="${id}" />
                    <h2><input type="submit" class="btn btn-danger" value="删除" onclick="return confirm('确定要删除此试题吗?');" />
                        <a th:href="@{'/question/edit/' + ${id}}" class="btn btn-warning">Edit</a></h2>
                </form>
            </div>
        </div>
    </body>
</html>
